<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Negocio</title>



</head>

<body>

  <%- include('header') %>


  <article>
  <h1>Crear pedido</h1>


  <form id="pedidoForm" action="/crear-pedido" method="post" enctype="application/x-www-form-urlencoded">

    <table  class="styled-table">
      <thead>
        <tr  class="active-row">
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
          <tr class="product">
            <td>
              <label for="name">
                <input name="name" value="<%= product.name %>" type="hidden">
                <%= product.name %>          
              </label>
            </td>
            <td>
              <label for="price">
                <input name="price" value="<%= product.price %>" type="hidden" class="price">
                $<%= product.price%>
              </label>
            </td>
            <td>
              <label for="cantidad">
                <button type="button" class="operation" data-operation="-">-</button>
                <input class="cantidad" name="cantidad" type="text" inputmode="numeric" pattern="[0-9]*" value="0">
                <button type="button" class="operation" data-operation="+">+</button>
              </label>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>


    <button class="last" role="button" type="submit">Crear pedido</button>

  </form>

</article>

  <footer>    © 2023  | Todos los derechos reservados  </footer>

</body>

<script>document.addEventListener('DOMContentLoaded', function () {
  // Agrega clic al formulario (contenedor común)
  var pedidoForm = document.getElementById('pedidoForm');
  pedidoForm.addEventListener('click', function (event) {
    // Verifica si el clic fue en un elemento con la clase 'operation'
    if (event.target.classList.contains('operation')) {
      // Obtén la operación del atributo de datos
      var operation = event.target.dataset.operation;

      // Encuentra el campo de cantidad asociado al botón clicado
      var cantidadInput = event.target.closest('label').querySelector('.cantidad');

      // Obtén el valor actual del campo de cantidad
      var currentValue = parseInt(cantidadInput.value) || 0;

      // Realiza la operación correspondiente
      if (operation === '+') {
        cantidadInput.value = currentValue + 1;
      } else if (operation === '-' && currentValue > 0) {
        cantidadInput.value = currentValue - 1;
      }
    }
  });
});

</script>


</html>