<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Detalle de producto</title>
 
</head>
<body>

  <%- include('header') %>

  <h1>Detalle de producto:</h1>
  <% if (dato) { %>
    <p>ID: <%= dato.id %></p>
    <p>Nombre: <%= dato.name %> - <%= dato.comment %></p>
    <p>Precio: $<%= dato.price %></p>
    <!-- Agrega más campos según la estructura de tu tabla -->
  <% } else { %>
    <p>Dato no encontrado</p>
  <% } %>

  <a href="/pacientes/edit/<%= dato.id %>">
    <button>Editar producto</button>
  </a>
  <br>
  <br>

  <button>Borrar</button>
  <footer>    © 2023  | Todos los derechos reservados  </footer>

</body>



</html>
