<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Editar Producto</title>

</head>
<body>
  <%- include('header') %>

  <h1>Editar Producto</h1>

  <div class="addProduct">
  <form action="/products/edit/<%= producto.id %>" method="post">
    <label for="name">Nuevo Nombre:</label>
    <input type="text" id="name" name="name" value="<%= producto.name %>" required>

    <label for="price">Nuevo Precio:</label>
    <input type="text" id="price" name="price" value="<%= producto.price %>" required>

    <label for="comment">Nuevo Detalle:</label>
    <input type="text" id="comment" name="comment" value="<%= producto.comment %>" required>

    <label for="aumento">Aplicar Aumento:</label>
    <input type="number" id="aumento" name="aumento"> %

    <button style="width: 100%;" type="submit">Guardar Cambios</button>
  </form>

</div>
  <footer>    © 2023  | Todos los derechos reservados  </footer>

</body>
</html>
